{
  "parser": "@typescript-eslint/parser",
  "plugins": ["airbnb", "@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript"
  ]
}
